.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.title-main{
    color: black;
    font-weight: 800;
    font-size: 42px;
    padding-bottom: 50px;
}

.container{
    margin-bottom: 133px;
}