.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 19%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  
}
.modal{
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 16px;
    width: 560px;
    padding: 50px;
    overflow: auto;
}

.modal-header {
    position: absolute;
    top: 0;
    right: 10px;
  }
  
.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size:25px;
    cursor: pointer;
    color: #333;
  }
  


.image{
    width: 276px;
    height: 140px;
    background: #d9d9d9;

}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & h2{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        color: #191919;
    }
    & p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #7f7f7f;
    }
}

.modal-footer{
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 50px;
 
    button{
        border: none;
        border-radius: 8px;
        padding: 16px 20px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        font-family: var(--font-family);
        cursor: pointer;
    }
    button:nth-child(1){
        background:  rgb(87, 162, 87);;
        color: #fff;
    }
    button:nth-child(2){
        background: none;
        border: 1px solid #3c4242;
        color: #8a33fd;
    }

}

